<div class="page-sidebar expandit" >
      <div class="sidebar-inner" id="main-menu-wrapper">
         <div class="profile-info row ">
             
          </div>
          
          <ul class="wraplist" style="height: auto;">	
          <li><a routerLink="/dashboard"><span class="sidebar-icon"><i class="fa fa-dashboard"></i></span> <span class="menu-title">Dashboard</span></a></li>
          <li><a routerLink="/demo"><span class="sidebar-icon"><i class="fa fa-users"></i></span> <span class="menu-title">Manage Users</span></a></li>
          <li><a href=""><span class="sidebar-icon"><i class="fa fa-lock"></i></span> <span class="menu-title">Sign Out</span></a></li>
          </ul>
        </div>
    </div>



   